[submodule "zsh-plugins/zsh-colored-man-pages"]
	path = zsh-plugins/zsh-colored-man-pages
	url = https://github.com/ael-code/zsh-colored-man-pages
[submodule "zsh-plugins/pure"]
	path = zsh-plugins/pure
	url = git@github.com:sindresorhus/pure.git
[submodule "zsh-plugins/zsh-completions"]
	path = zsh-plugins/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "zsh-plugins/zsh-syntax-highlighting"]
	path = zsh-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-plugins/zsh-history-substring-search"]
	path = zsh-plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh-plugins/ssh"]
	path = zsh-plugins/ssh
	url = git@github.com:zpm-zsh/ssh.git
[submodule "zsh-plugins/gpg-agent.zsh"]
	path = zsh-plugins/gpg-agent.zsh
	url = git@github.com:axtl/gpg-agent.zsh.git
[submodule "zsh-plugins/k"]
	path = zsh-plugins/k
	url = git@github.com:supercrabtree/k.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
